﻿@model MIS_Entity.Entity.NoticeDetails

@{
    ViewData["Title"] = "Details";
    if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<style>
    .formatPrint {
        width: 100%;
        height: 100%;
        padding: 40px;
        border: 1px solid azure;
        background-color: white;
    }

    #spnContent {
        white-space: pre-wrap;
    }

    .formTitle {
        border-top: 2px solid #b5b5b5;
        border-bottom: 2px solid #b5b5b5;
        padding-top: 10px;
    }

    .formatBanner {
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        opacity: 0.7;
    }

    .formatHeader {
        padding-top: 10px;
    }

    .form-content {
        padding-top: 5px;
        color: black;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Library</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Notice Board</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">

                        <div class="card-body">
                            <div class="rev" id="Review">

                                <div class="formatPrint">

                                    <div class="text-center formTitle">
                                        <h3>   @Model.Title</h3>
                                    </div>

                                    <div class="form-content">
                                        <div id="spnContent">@Model.Description</div>
                                    </div>


                                </div>
                                @if (!User.IsStudent())
                                {
                                    <div>
                                        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                                        <a asp-action="Index">Back to List</a>
                                    </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var ContentHTM = $('#spnContent').text();
            $('#spnContent').empty();
            $('#spnContent').html(ContentHTM);
        });
    </script>
}