﻿@model MIS_Entity.Entity.Department.Department

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<h1>Edit</h1>

    <h4>Department</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DepartmentName" class="control-label"></label>
                    <input asp-for="DepartmentName" class="form-control" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentDesc" class="control-label"></label>
                    <input asp-for="DepartmentDesc" class="form-control" />
                    <span asp-validation-for="DepartmentDesc" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
                <input type="hidden" asp-for="CreatedBy" value="@ViewBag.CreatedBy" />
                <input type="hidden" asp-for="CreatedDate" value="@ViewBag.CreatedDate" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
<form class="form" asp-action="Edit" enctype="multipart/form-data" id="DepartmentForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartmentName" class="d-block">Department Name</label>
                <input asp-for="DepartmentName" class="form-control" placeholder="Department Name" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartmentDesc" class="d-block">Author Name</label>
                <input asp-for="DepartmentDesc" class="form-control" placeholder="Department Description" />
                <span asp-validation-for="DepartmentDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartmentBlock" class="d-block">Department Block</label>
                <input asp-for="DepartmentBlock" class="form-control" placeholder="Department Block" />
                <span asp-validation-for="DepartmentBlock" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
        <input type="hidden" asp-for="CreatedBy" value="@ViewBag.CreatedBy" />
        <input type="hidden" asp-for="CreatedDate" value="@ViewBag.CreatedDate" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
