﻿@model MIS_Entity.Entity.Course.CourseSubject

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<form class="form" asp-action="Create" enctype="multipart/form-data" id="courseForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectCode" class="d-block">Subject Code</label>
                <input asp-for="SubjectCode" class="form-control" placeholder="Course Code" />
                <span asp-validation-for="SubjectCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectName" class="d-block">Subject Name</label>
                <input asp-for="SubjectName" class="form-control" placeholder="Course Name" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectDescription" class="d-block">Subject Description</label>
                <input asp-for="SubjectDescription" class="form-control" />
                <span asp-validation-for="SubjectDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreditHours" class="d-block">Credit Hours</label>
                <input asp-for="CreditHours" class="form-control" />
                <span asp-validation-for="CreditHours" class="text-danger"></span>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
