﻿@model IEnumerable<MIS_Entity.Entity.Course.CourseSubject>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form class="form">
    <div class="card-body">
        <div class="form-group m-0">
            <label>Choose Subjects</label>
            <div class="row">
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    <div class="col-lg-4">
                        <label class="option">
                            <span class="option-control">
                                <span class="radio">
                                    <input type="checkbox" value="@item.ID" name="m_option_1" />
                                    <input type="hidden" class="SubjectCode" value="@item.SubjectCode" />
                                    <input type="hidden" class="SubjectName" value="@item.SubjectName" />
                                    <input type="hidden" class="SubjectDescription" value="@item.SubjectDescription" />
                                    <input type="hidden" class="CreditHours" value="@item.CreditHours" />
                                    <span></span>
                                </span>
                            </span>
                            <span class="option-label">
                                <span class="option-head">
                                    <span class="option-title">
                                        @item.SubjectName
                                    </span>
                                    <span class="option-focus">
                                        @item.SubjectCode
                                    </span>
                                </span>
                                <span class="option-body">
                                    @item.SubjectDescription
                                </span>
                                <span class="option-body">
                                    <select asp-items="@ViewBag.Teachers" class="form-control">
                                        <option selected value="">Assign Faculty</option>
                                        
                                    </select>
                                    <span><small class="text-danger fade">This is a required field</small></span>
                                </span>
                            </span>
                        </label>

                    </div>
                    i++;


                }


            </div>
        </div>

    </div>
    @*<div class="card-footer">
            <button type="reset" class="btn btn-primary mr-2">Add</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>*@
</form>