﻿@model MIS_Entity.Entity.StudentDetails

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileImgLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileImgLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlternateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlternateNumber)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fathername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fathername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mothername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mothername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermanentLocality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermanentLocality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporaryCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporaryCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporaryState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporaryState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporaryCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporaryCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporaryLocality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporaryLocality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Issued_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Issued_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Issued_Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Issued_Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Issued_Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Issued_Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedTimes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTimes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
