﻿@model MIS_Entity.Entity.StudentDetails

@{
    ViewData["Title"] = "Edit";

    Layout = null;}


 
    <form asp-action="Edit" enctype="multipart/form-data" id="editorForm">
        @Html.EditorForModel()
        <input type="hidden" asp-for="ID" />
        @*<div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTimes" class="control-label"></label>
                <input asp-for="ModifiedTimes" class="form-control" />
                <span asp-validation-for="ModifiedTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordStatus" class="control-label"></label>
                <select asp-for="RecordStatus" class="form-control"></select>
                <span asp-validation-for="RecordStatus" class="text-danger"></span>
            </div>*@

    </form>
 



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
