﻿@model List<MIS.ViewModel.StudentCourseTimelineVM>
@{
    Layout = null;
}
<div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded" id="kt_datatable">

    <table class="datatable-table" style="display:block;" id="tableStudentObservation">
        <tr class="datatable-row" style="left: 0px;">
            <th> S.No </th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>CourseEscalatedOn</th>
            <th>Action</th>
        </tr>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.CourseCode</td>
                    <td>@item.CourseName</td>
                    <td>@item.FromDate</td>
                    <td></td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    }
</div>
