﻿@*@model List<MIS.ViewModel.StudentObservationViewModel>*@
@{
    Layout = null;
}

<div class="card mb-5 mb-xl-8">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
        <h4 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold fs-3 mb-1">Observation History</span>
        </h4>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <!--begin::Table container-->
        <div class="table-responsive">
            <!--begin::Table-->
            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                <!--begin::Table head-->
                <thead>
                    <tr class="fw-bold text-muted">

                        <th class="min-w-200px">          S.No </th>
                        <th class="min-w-150px">         Due Date</th>
                        <th class="min-w-150px">         Paid Status</th>
                        <th class="min-w-100px text-end">Given On</th>
                    </tr>
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody>
                    @{
                        int i = 1;
                    }
                   @* @foreach (var item in Model)
                    {*@
                        <tr>
                            <td>@i</td>
                            <td>2022/12/22</td>
                            <td>False</td>
                            <td>2023/01/12</td>
                            @*<td></td>*@
                        </tr>
                        @*i++;
                    }*@

                </tbody>
                <!--end::Table body-->
            </table>
            <!--end::Table-->
        </div>
        <!--end::Table container-->
    </div>
    <!--begin::Body-->
</div>