﻿@model IEnumerable<MIS_Entity.Entity.StudentDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.AntiForgeryToken();
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Student</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Student</a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2" id="btnAddNewStudent">Add New Student</a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Student</span>
                                <span class="text-muted mt-1 font-weight-bold font-size-sm">List of Students</span>
                            </h3>
                          
                            <div class="card-toolbar">
                                <div class="dropdown dropdown-inline mr-2">
                                    <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="svg-icon svg-icon-md">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                                    <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                                                </g>
                                            </svg>
                                        </span>
                                        Export
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="navi flex-column navi-hover py-2">
                                            <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link" id="btnPrint">
                                                    <span class="navi-icon">
                                                        <i class="la la-print"></i>
                                                    </span>
                                                    <span class="navi-text">Print</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link" id="btnCopy">
                                                    <span class="navi-icon">
                                                        <i class="la la-copy"></i>
                                                    </span>
                                                    <span class="navi-text">Copy</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link" id="btnExcel">
                                                    <span class="navi-icon">
                                                        <i class="la la-file-excel-o"></i>
                                                    </span>
                                                    <span class="navi-text">Excel</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link" id="btnCSV">
                                                    <span class="navi-icon">
                                                        <i class="la la-file-text-o"></i>
                                                    </span>
                                                    <span class="navi-text">CSV</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link" id="btnPDF">
                                                    <span class="navi-icon">
                                                        <i class="la la-file-pdf-o"></i>
                                                    </span>
                                                    <span class="navi-text">PDF</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/js/Common/DataSource.js"></script>
<script src="~/js/StudentDetails/Student.js"></script>
}
@*<h1>Index</h1>

    <p>
    <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.UserId)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.BatchId)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.CourseId)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.StudentName)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.DOB)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ProfileImgLocation)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.BloodGroup)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Religion)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.MobileNumber)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.AlternateNumber)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.GrandFather)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Fathername)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Mothername)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.StudentEmail)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Nationality)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.PermanentCountry)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.PermanentState)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.PermanentCity)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.PermanentLocality)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.TemporaryCountry)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.TemporaryState)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.TemporaryCity)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.TemporaryLocality)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Identification)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Id_Number)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Id_Issued_Date)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Id_Issued_Place)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Id_Issued_Country)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ModifiedBy)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.CreatedDate)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ModifiedTimes)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ModifiedDate)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.RecordStatus)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.ApplicationUser)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.UserId)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.BatchId)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CourseId)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.StudentName)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.DOB)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ProfileImgLocation)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.BloodGroup)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Religion)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.MobileNumber)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.AlternateNumber)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.GrandFather)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Fathername)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Mothername)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.StudentEmail)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Nationality)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.PermanentCountry)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.PermanentState)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.PermanentCity)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.PermanentLocality)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.TemporaryCountry)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.TemporaryState)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.TemporaryCity)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.TemporaryLocality)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Identification)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Id_Number)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Id_Issued_Date)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Id_Issued_Place)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Id_Issued_Country)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ModifiedBy)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.CreatedDate)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ModifiedTimes)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ModifiedDate)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.RecordStatus)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
    </td>
    <td>
    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table>*@
