﻿@model MIS_Entity.Entity.Recommendations

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Library</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Recommendation Letter</a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2" id="btnAddNotice">Create Recommendation</a>

            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Recommend a Student</span>
                            </h3>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form asp-action="Create">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Title" class="control-label"></label>
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="StudentId" class="control-label"></label>
                                            <select asp-for="StudentId" asp-items="ViewBag.StudentId" class="form-control"></select>
                                            <span asp-validation-for="StudentId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label for="Content">Content</label>
                                            <textarea class="form-control fullform" TextMode="MultiLine" style="height:500px" id="ContentField" name="Description" rows="3" placeholder="Write your body here.."></textarea>
                                            <div class="valid-feedback"></div>
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('ContentField');

        });
    </script>
}
