﻿@model MIS_Entity.Entity.BookDetails

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


<form class="form" asp-action="Create" enctype="multipart/form-data" id="libraryForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="d-block">Book Name</label>
                <input asp-for="Name" class="form-control" placeholder="Book Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Author" class="d-block">Author Name</label>
                <input asp-for="Author" class="form-control" placeholder="Author Name" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Genre" class="d-block">Genre</label>
                <select asp-for="Genre" asp-items="@ViewBag.BookGenre" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BookTypes" class="d-block">Type</label>
                <select asp-for="BookTypes" asp-items="@ViewBag.BookTypes" class="form-control"></select>
                <span asp-validation-for="BookTypes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BookCount" class="d-block">Book Count</label>
                <input asp-for="BookCount" class="form-control" placeholder="Book Count" />
                <span asp-validation-for="BookCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseId" class="d-block">Course</label>
                <select asp-for="CourseId" asp-items="@ViewBag.Courses" class="form-control">
                    <option selected value="">None</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReleasedDate" class="d-block">Published Year</label>
                <input asp-for="ReleasedDate" class="form-control" placeholder="Published Year" />
                <span asp-validation-for="ReleasedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ImageDetails" class="control-label">Image</label>
                <input asp-for="ImageDetails" class="form-control" type="file" name="ImageDetails" />
                <span asp-validation-for="ImageDetails" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12" id="bookDetails" style="display:none;">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="BookFile" class="control-label">Upload Book File</label>
                    <input asp-for="BookFile" class="form-control" type="file" name="BookFile" />
                    <span asp-validation-for="BookFile" class="text-danger"></span>
                </div>
             
                <div class="form-group">
                    <label asp-for="IsDownloadable" class="d-block">Allow Downloads</label>
                    <input asp-for="IsDownloadable" class="form-control" />
                    <span asp-validation-for="IsDownloadable" class="text-danger"></span>
                </div>
            </div>




        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}

