﻿@model MIS.ViewModel.BookDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div class="d-flex flex-column gap-5 mt-7">
    <!--begin::Company name-->
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted alert-heading">Book Title</div>
        <div class="fw-bold fs-5"><b>@Model.Name</b></div>
    </div>
    <br />
    <!--end::Company name-->
    <!--begin::City-->
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted">Author Name</div>
        <div class="fw-bold fs-5"><b>@Model.Author</b></div>
    </div>
    <br />
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted">Genre </div>
        <div class="fw-bold fs-5">@Model.Genre</div>
    </div>
    <br />
    <div class="d-flex flex-column gap-1">
        <div class="fw-bold text-muted">Course Name</div>
        <div class="fw-bold fs-5">@Model.Course</div>
    </div>
    <br />

    <div>
        <a href="/Books/DocView?BookId=@Model.Id" target="_blank" class="btn btn-light font-weight-bolder font-size-sm py-2" target="_blank">Read Book</a>
        @*<a href="@item.BookLocation" class="btn btn-light font-weight-bolder font-size-sm py-2" target="_blank">View Details</a>*@
    </div>
    <!--end::Notes-->
</div>