﻿@model MIS_Entity.Entity.BookDetails

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<form class="form" asp-action="Edit" enctype="multipart/form-data" id="libraryForm">
    @Html.HiddenFor(x=>x.BookLocation)
    @Html.HiddenFor(x=>x.ImageLocation)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="d-block">Book Name</label>
                <input asp-for="Name" class="form-control" placeholder="Book Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Author" class="d-block">Author Name</label>
                <input asp-for="Author" class="form-control" placeholder="Author Name" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Genre" class="d-block">Edition</label>
                <select asp-for="Genre" asp-items="@ViewBag.BookGenre" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BookTypes" class="d-block">Edition</label>
                <select asp-for="BookTypes" asp-items="@ViewBag.BookTypes" class="form-control"></select>
                <span asp-validation-for="BookTypes" class="text-danger"></span>
            </div>
        </div>
        @if (Model.BookTypes != BookType.Ebook)
        {
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="BookCount" class="d-block">Book Count</label>
                    <input asp-for="BookCount" class="form-control" placeholder="Book Count" />
                    <span asp-validation-for="BookCount" class="text-danger"></span>
                </div>
            </div>
        }

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseId" class="d-block">Course</label>
                <select asp-for="CourseId" asp-items="@ViewBag.Courses" class="form-control"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-4">
        <div class="form-group">
        <label asp-for="AvailabilityStatus" class="d-block">Status</label>
        <select asp-for="AvailabilityStatus" asp-items="" class="form-control></select>
        <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>
        </div>
        </div>*@
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReleasedDate" class="d-block">Published Year</label>
                <input asp-for="ReleasedDate" class="form-control" placeholder="Published Year" />
                <span asp-validation-for="ReleasedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ImageDetails" class="control-label">Change Current Image</label>
                <input asp-for="ImageDetails" class="form-control" type="file" name="ImageDetails" />
                <span asp-validation-for="ImageDetails" class="text-danger"></span>
            </div>
        </div>
        @if (Model.ImageLocation != null)
        {
            <div class="form-group">
                <label class="control-label">Change Current Image</label><br />
                <img src="@Model.ImageLocation" height="100" width="100" />
            </div>
        }
        @if (Model.BookTypes == BookType.Ebook)
        {
            <div class="col-md-12" id="bookDetails" style="display:block;">

                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="BookFile" class="control-label">Change E Book File</label>
                        <input asp-for="BookFile" class="form-control" type="file" name="BookFile" />
                        <span asp-validation-for="BookFile" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="IsDownloadable" class="d-block">Allow Downloads</label>
                        <input asp-for="IsDownloadable" class="form-control" />
                        <span asp-validation-for="IsDownloadable" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }


        <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
        <input type="hidden" asp-for="CreatedBy" value="@ViewBag.CreatedBy" />
        <input type="hidden" asp-for="CreatedDate" value="@ViewBag.CreatedDate" />
        <input type="hidden" asp-for="ImageLocation" value="@ViewBag.ImageLocation" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
