﻿@model MIS.ViewModel.AssignmentDetailViewModel
@{
      if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">
                    <!--begin::Title-->
                    <h2 class="text-white font-weight-bold my-2 mr-5">Detail</h2>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Assignment</a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Details</a>
                        <!--end::Item-->
                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                    <!-- begin: Invoice-->
                    <!-- begin: Invoice header-->
                    <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                <h1 class="display-4 font-weight-boldest mb-10">@Model.AssignmentName</h1>
                                <div class="d-flex flex-column align-items-md-end px-0">
                                    <!--begin::Logo-->
                                    <a href="#" class="mb-5">
                                        <img src="/metronic/theme/html/demo2/dist/assets/media/logos/logo-dark.png" alt="" />
                                    </a>
                                    <!--end::Logo-->
                                    <span class="d-flex flex-column align-items-md-end opacity-70">
                                        <span>@Model.AssignmentDetail</span>
                                    </span>
                                </div>
                            </div>
                            <div class="border-bottom w-100"></div>
                            <div class="d-flex justify-content-between pt-6">
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Deadline</span>
                                    <span class="opacity-70">@Model.DeadlineDate</span>
                                </div>

                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Batch Name</span>
                                    <span class="opacity-70">
                                        @Model.BatchName
                                    </span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Attached File</span>
                                    <a href="@Model.FileLocation" class="btn btn-light-primary font-weight-bold mb-2" download">Download File</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label">Upload Your File</h3>
                    </div>
                </div>
                <!--begin::Form-->
                <form method="post">
                    <div class="card-body">
                        <input type="hidden" name="filePath" id="filePath" />
                        <input type="hidden" name="fileFormat" id="fileFormat" />
                        <input type="hidden" name="AssignmentId" value="@Model.Id" />
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">File Type Validation</label>
                            <div class="col-lg-4 col-md-9 col-sm-12">
                                <div class="dropzone dropzone-default dropzone-success" id="kt_dropzone_3">
                                    <div class="dropzone-msg dz-message needsclick">
                                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                        <span class="dropzone-msg-desc">Only image, pdf files are allowed for upload</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label text-lg-right">Remarks:</label>
                            <div class="col-lg-4">
                                <textarea class="form-control" rows="3" name="remarks" placeholder="Please enter your message"></textarea>
                                <span class="form-text text-muted">Comments on your assignment and the work done process.</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-light-primary mr-2">Submit</button>
                                <button type="reset" class="btn btn-primary">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                @*<form action="/target" class="dropzone"></form>*@
                <!--end::Form-->
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
@section scripts{

    <script>
        // file type validation
        $('#kt_dropzone_3').dropzone({
            url: "UploadAssignmentDoc", // Set the url for your upload script location
            paramName: "AssignmentFile", // The name that will be used to transfer the file
            maxFiles: 10,
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            acceptedFiles: "image/*,application/pdf,application/doc,.xls,.xlsx",
            accept: function (file, done) {
                done();

            },
            success: function (file, response) {
                //console.log(response.filePath);
                $('#filePath').val(response.filePath);
                $('#fileFormat').val(response.fileFormat);
            }
        });
    </script>
}

@*<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />*@