﻿@model IEnumerable<MIS_Entity.Entity.Classes.ClassDetails>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
@Html.AntiForgeryToken()
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Routine</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Class</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Your Upcoming Classes</span>
                                <span class="text-muted mt-1 font-weight-bold font-size-sm">Class Timings</span>
                            </h3>

                        </div>
                        <div class="card-body">

                            <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Batch</th>
                                        <th>Subject Name</th>
                                        <th>Day</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    @*<div class="symbol symbol-40 symbol-sm flex-shrink-0">
                                                            <img class="" src="~/assets/media/books/5.png" alt="photo">
                                                        </div>*@
                                                    <div class="ml-4">
                                                        <a href="#" class="text-dark-75 text-hover-primary font-weight-bolder font-size-lg mb-0">@item.CourseDetails.CourseName</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.BatchDetails.BatchName</td>
                                            <td>@item.CourseSubject.SubjectName</td>
                                            <td>@item.WeekDays</td>
                                            <td><span class="label label-lg font-weight-bold  label-light-danger label-inline">@item.ClassStartTime.ToString("h:mm tt")</span></td>
                                            <td><span class="label label-lg font-weight-bold  label-light-danger label-inline">@item.ClassEndTime.ToString("h:mm tt")</span></td>
                                            <td nowrap="nowrap">
                                                <a href="@item.MeetingLink" data-val="@item.ID" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnJoinNow" title="Edit details">

                                                    <span class="svg-icon svg-icon-md">
                                                        Join Now
                                                    </span>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var MarkAttendance = function (e) {
                e.preventDefault();
                var token = $('input:hidden[name="__RequestVerificationToken"]').val();
                var ClassId = $(this).attr('data-val');
                var CallBack = $(this).attr('href');
                var url = "/Common/CheckIn/?Remarks=checkin&&ClassId=" + ClassId;
                $.ajax({
                    url: url,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    headers: {
                        RequestVerificationToken:
                            token
                    },
                }).done(function (response) {
                    if (CallBack.includes("https://") || CallBack.includes("http://")) {
                        window.open(CallBack, '_blank');
                    }
                    else {
                        window.open('https://' + CallBack, '_blank');
                    }

                }).fail(function (response) {
                    $d.reject(response);
                });

            }

            $('table tbody td').find('.btnJoinNow').click(MarkAttendance);


        })


    </script>

}
