﻿@model MIS_Entity.Entity.Examination.ExaminationDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Exam Details</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Create </a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Exam Details</span>
                            </h3>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form asp-action="Create">
                                        @Html.HiddenFor(x=>x.ID)
                                        @Html.HiddenFor(x=>x.ModifiedBy)
                                        @Html.HiddenFor(x=>x.CreatedBy)
                                        @Html.HiddenFor(x=>x.ModifiedDate)
                                        @Html.HiddenFor(x=>x.CreatedDate)
                                        @Html.HiddenFor(x=>x.ModifiedTimes)
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="ExaminationSubject" class="control-label"></label>
                                            <input asp-for="ExaminationSubject" class="form-control" />
                                            <span asp-validation-for="ExaminationSubject" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="SubjectId" class="control-label"></label>
                                            <select asp-for="SubjectId" asp-items=" ViewBag.SubjectId " class="form-control"></select>
                                            <span asp-validation-for="SubjectId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Remarks" class="control-label"></label>
                                            <textarea asp-for="Remarks" class="form-control"></textarea>
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ExaminationDate" class="control-label"></label>
                                            <input asp-for="ExaminationDate" class="form-control" />
                                            <span asp-validation-for="ExaminationDate" class="text-danger"></span>
                                        </div>
                                         <div class="form-group">
                                            <label asp-for="ExaminationEndDate" class="control-label"></label>
                                            <input asp-for="ExaminationEndDate" class="form-control" />
                                            <span asp-validation-for="ExaminationEndDate" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
