﻿@model MIS_Entity.Entity.Examination.ExaminationDetails

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="ExaminationDetailsForm">
            @Html.HiddenFor(x=>x.ID)
            @Html.HiddenFor(x=>x.ModifiedBy)
            @Html.HiddenFor(x=>x.CreatedBy)
            @Html.HiddenFor(x=>x.ModifiedDate)
            @Html.HiddenFor(x=>x.CreatedDate)
            @Html.HiddenFor(x=>x.ModifiedTimes)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExaminationSubject" class="control-label"></label>
                <input asp-for="ExaminationSubject" class="form-control" />
                <span asp-validation-for="ExaminationSubject" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" asp-items=" ViewBag.SubjectId " class="form-control"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExaminationDate" class="control-label"></label>
                <input asp-for="ExaminationDate" class="form-control" />
                <span asp-validation-for="ExaminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExaminationEndDate" class="control-label"></label>
                <input asp-for="ExaminationEndDate" class="form-control" />
                <span asp-validation-for="ExaminationEndDate" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
