﻿@model IEnumerable<MIS_Entity.Entity.AssignmentMaterial>
@{
    ViewData["Title"] = "Assignment";
    Layout = ViewBag.Layout;
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Assignments</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Assignments</a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2" id="btnAddNewAssignment">Add New Assignment</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Your Assignments</span>
                                @*<span class="text-muted mt-1 font-weight-bold font-size-sm">Class Timings</span>*@
                            </h3>

                        </div>
                        <div class="card-body">

                            <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                <thead>
                                    <tr>
                                        <th>Assignment Name</th>
                                        <th>Assignment Details</th>
                                        <th>Deadline Date</th>
                                        @*<th>Day</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>*@
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    @*<div class="symbol symbol-40 symbol-sm flex-shrink-0">
                                                            <img class="" src="~/assets/media/books/5.png" alt="photo">
                                                        </div>*@
                                                    <div class="ml-4">
                                                        <a href="#" class="text-dark-75 text-hover-primary font-weight-bolder font-size-lg mb-0">@item.AssignmentName</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.AssignmentDetail</td>
                                            <td>@item.DeadlineDate</td>
                                            @*<td>@item.WeekDays</td>*@
                                            @*<td><span class="label label-lg font-weight-bold  label-light-danger label-inline">@item.ClassStartTime.ToString("h:mm tt")</span></td>
                                                <td><span class="label label-lg font-weight-bold  label-light-danger label-inline">@item.ClassEndTime.ToString("h:mm tt")</span></td>*@
                                            <td nowrap="nowrap">
                                                <a href="#" data-val="@item.ID" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnEdit" title="Edit details">
<span class="svg-icon svg-icon-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="currentColor"></path>
<path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="currentColor"></path>
</svg>
</span>
                                                </a>
                                                <a href="AssignmentDetail?AssignId=@item.ID" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2" title="Details">
                                                    <span class="svg-icon svg-icon-2">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                                            <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Assignment/DataSource.js"></script>
    <script src="~/js/Assignment/Assignment.js"></script>
}