﻿@model MIS.ViewModel.AssignmentDetailViewModel
@{
    if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">
                    <!--begin::Title-->
                    <h2 class="text-white font-weight-bold my-2 mr-5">Detail</h2>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Assignment</a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Details</a>
                        <!--end::Item-->
                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                    <!-- begin: Invoice-->
                    <!-- begin: Invoice header-->
                    <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                <h1 class="display-4 font-weight-boldest mb-10">@Model.AssignmentName</h1>
                                <div class="d-flex flex-column align-items-md-end px-0">
                                    <!--begin::Logo-->
                                    <a href="#" class="mb-5">
                                        <img src="/metronic/theme/html/demo2/dist/assets/media/logos/logo-dark.png" alt="" />
                                    </a>
                                    <!--end::Logo-->
                                    <span class="d-flex flex-column align-items-md-end opacity-70">
                                        <span>@Model.AssignmentDetail</span>
                                    </span>
                                </div>
                            </div>
                            <div class="border-bottom w-100"></div>
                            <div class="d-flex justify-content-between pt-6">
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Deadline</span>
                                    <span class="opacity-70">@Model.DeadlineDate</span>
                                </div>

                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Batch Name</span>
                                    <span class="opacity-70">
                                        @Model.BatchName
                                    </span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Attached File</span>
                                    <a href="@Model.FileLocation" class="btn btn-light-primary font-weight-bold mb-2" download">Download File</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice header-->
                    <!-- begin: Invoice body-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="example-preview">
                                <ul class="nav nav-pills" id="myTab1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab-1" data-toggle="tab" href="#home-1">
                                            <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                            <span class="nav-text">Pending</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="review-tab-1" data-toggle="tab" href="#review-1" aria-controls="review">
                                            <span class="nav-icon"><i class="flaticon2-layers-1"></i></span>
                                            <span class="nav-text">Approved</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="return-tab-1" data-toggle="tab" href="#return-1" aria-controls="return">
                                            <span class="nav-icon"><i class="flaticon2-layers-1"></i></span>
                                            <span class="nav-text">Returned</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="reject-tab-1" data-toggle="tab" href="#reject-1" aria-controls="reject">
                                            <span class="nav-icon"><i class="flaticon2-layers-1"></i></span>
                                            <span class="nav-text">Rejected</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content mt-5" id="myTabContent1">
                                    <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab-1">
                                        @if (Model.AssignmentByStudentVM != null)
                                        {


                                            <div class="table-responsive">
                                                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                                    <thead>
                                                        <tr>
                                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Student Name</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Submitted On</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Status</th>
                                                            <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.AssignmentByStudentVM)
                                                        {
                                                            <tr class="font-weight-boldest">
                                                                <td class="pl-0 pt-7">@item.StudentName</td>
                                                                <td class="text-right pt-7">@item.CreatedOn</td>
                                                                <td class="text-right pt-7">@item.AssignmentStatus</td>

                                                                <td class="text-right pt-7">
                                                                    <a href="/AssignmentMaterials/AssignmentTimeline?StudentId=@item.StudentId&&AssignmentId=@Model.Id" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnRequestAction" title="Edit details">

                                                                        <span class="svg-icon svg-icon-2">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                                                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        }

                                                    </tbody>
                                                </table>
                                            </div>


                                        }
                                        else
                                        {
                                            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                                <div class="col-md-9 text-center">
                                                    <p>Assignment pending from students</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="tab-pane fade" id="review-1" role="tabpanel" aria-labelledby="review-tab-1">
                                        @if (Model.AssignmentByStudentVM != null)
                                        {


                                            <div class="table-responsive">
                                                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                                    <thead>
                                                        <tr>
                                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Student Name</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Submitted On</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Status</th>
                                                            <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.AssignmentByStudentReviewed)
                                                        {
                                                            <tr class="font-weight-boldest">
                                                                <td class="pl-0 pt-7">@item.StudentName</td>
                                                                <td class="text-right pt-7">@item.CreatedOn</td>
                                                                <td class="text-right pt-7">@item.AssignmentStatus</td>

                                                                <td class="text-right pt-7">
                                                                    <a href="#" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnRequestAction" title="Edit details">

                                                                        <span class="svg-icon svg-icon-2">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                                                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        }

                                                    </tbody>
                                                </table>
                                            </div>


                                        }
                                        else
                                        {
                                            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                                <div class="col-md-9 text-center">
                                                    <p>No Assignments Reviewed Yet</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="tab-pane fade" id="return-1" role="tabpanel" aria-labelledby="return-tab-1">
                                        @if (Model.AssignmentByStudentReturned != null)
                                        {


                                            <div class="table-responsive">
                                                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                                    <thead>
                                                        <tr>
                                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Student Name</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Submitted On</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Status</th>
                                                            <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.AssignmentByStudentReviewed)
                                                        {
                                                            <tr class="font-weight-boldest">
                                                                <td class="pl-0 pt-7">@item.StudentName</td>
                                                                <td class="text-right pt-7">@item.CreatedOn</td>
                                                                <td class="text-right pt-7">@item.AssignmentStatus</td>

                                                                <td class="text-right pt-7">
                                                                    <a href="#" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnRequestAction" title="Edit details">

                                                                        <span class="svg-icon svg-icon-2">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                                                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        }

                                                    </tbody>
                                                </table>
                                            </div>


                                        }
                                        else
                                        {
                                            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                                <div class="col-md-9 text-center">
                                                    <p>No Assignments Reviewed Yet</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="tab-pane fade" id="reject-1" role="tabpanel" aria-labelledby="reject-tab-1">
                                        @if (Model.AssignmentByStudentRejected != null)
                                        {


                                            <div class="table-responsive">
                                                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                                    <thead>
                                                        <tr>
                                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Student Name</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Submitted On</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Status</th>
                                                            <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.AssignmentByStudentReviewed)
                                                        {
                                                            <tr class="font-weight-boldest">
                                                                <td class="pl-0 pt-7">@item.StudentName</td>
                                                                <td class="text-right pt-7">@item.CreatedOn</td>
                                                                <td class="text-right pt-7">@item.AssignmentStatus</td>

                                                                <td class="text-right pt-7">
                                                                    <a href="#" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnRequestAction" title="Edit details">

                                                                        <span class="svg-icon svg-icon-2">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                                                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        }

                                                    </tbody>
                                                </table>
                                            </div>


                                        }
                                        else
                                        {
                                            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                                <div class="col-md-9 text-center">
                                                    <p>No Assignments Reviewed Yet</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice body-->
                    <!-- begin: Invoice action-->
                    @*<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-9">
                    <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">Download Invoice</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Print Invoice</button>
                    </div>
                    </div>
                    </div>*@
                    <!-- end: Invoice action-->
                    <!-- end: Invoice-->
                </div>
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Assignment/DataSource.js"></script>
    <script src="~/js/Assignment/Assignment.js"></script>
}