﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Examination Question Generator</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Examination Question Generator</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <!--begin::Notice-->
            <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
                <div class="alert-icon">
                    <span class="svg-icon svg-icon-primary svg-icon-xl">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3" />
                                <path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>
                </div>
                <div class="alert-text">Please Create the question using following Question Builder</div>
            </div>
            <!--end::Notice-->
            <div class="row" data-sticky-container="">

                <div class="col-lg-9 col-xl-9">
                    <div class="card mb-3">
                        <div class="card-body p-3">
                            <input class="form-control d-block mb-1" type="text" placeholder="Form Name">
                            <input class="form-control d-block" type="text" placeholder="Form Description">
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <input class="form-control d-block mb-1" type="text" placeholder="Question">
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="dropdown">
                                        <a href="#" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Question Type</a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                            <!--begin::Navigation-->
                                            <ul class="navi navi-hover">
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-record-vinyl"></i>
                                                        </span>
                                                        <span class="navi-text">Multiple Choice</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-check-square"></i>
                                                        </span>
                                                        <span class="navi-text">Checkboxes</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-caret-square-down"></i>
                                                        </span>
                                                        <span class="navi-text">Dropdown</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-grip-lines"></i>
                                                        </span>
                                                        <span class="navi-text">Short Answer</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-align-left"></i>
                                                        </span>
                                                        <span class="navi-text">Paragraph</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Navigation-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <div class="">
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon2-copy "></i>
                                    </button>
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon-delete "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <input class="form-control d-block mb-1" type="text" placeholder="Question">
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="dropdown">
                                        <a href="#" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Question Type</a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                            <!--begin::Navigation-->
                                            <ul class="navi navi-hover">
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-record-vinyl"></i>
                                                        </span>
                                                        <span class="navi-text">Multiple Choice</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-check-square"></i>
                                                        </span>
                                                        <span class="navi-text">Checkboxes</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-caret-square-down"></i>
                                                        </span>
                                                        <span class="navi-text">Dropdown</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-grip-lines"></i>
                                                        </span>
                                                        <span class="navi-text">Short Answer</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-align-left"></i>
                                                        </span>
                                                        <span class="navi-text">Paragraph</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Navigation-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <div class="">
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon2-copy "></i>
                                    </button>
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon-delete "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <input class="form-control d-block mb-1" type="text" placeholder="Question">
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="dropdown">
                                        <a href="#" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Question Type</a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                            <!--begin::Navigation-->
                                            <ul class="navi navi-hover">
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-record-vinyl"></i>
                                                        </span>
                                                        <span class="navi-text">Multiple Choice</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-check-square"></i>
                                                        </span>
                                                        <span class="navi-text">Checkboxes</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-caret-square-down"></i>
                                                        </span>
                                                        <span class="navi-text">Dropdown</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-grip-lines"></i>
                                                        </span>
                                                        <span class="navi-text">Short Answer</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-align-left"></i>
                                                        </span>
                                                        <span class="navi-text">Paragraph</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Navigation-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-record-vinyl mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <div class="">
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon2-copy "></i>
                                    </button>
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon-delete "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <input class="form-control d-block mb-1" type="text" placeholder="Question">
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="dropdown">
                                        <a href="#" class="form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Question Type</a>
                                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                            <!--begin::Navigation-->
                                            <ul class="navi navi-hover">
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-record-vinyl"></i>
                                                        </span>
                                                        <span class="navi-text">Multiple Choice</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-check-square"></i>
                                                        </span>
                                                        <span class="navi-text">Checkboxes</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="far fa-caret-square-down"></i>
                                                        </span>
                                                        <span class="navi-text">Dropdown</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-grip-lines"></i>
                                                        </span>
                                                        <span class="navi-text">Short Answer</span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="#" class="navi-link">
                                                        <span class="navi-icon">
                                                            <i class="fas fa-align-left"></i>
                                                        </span>
                                                        <span class="navi-text">Paragraph</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Navigation-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                                <div class="col-12 d-flex align-items-center mb-1">
                                    <i class="fas fa-check-square mr-2"></i>
                                    <input type="text" class="form-control" placeholder="option value">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <div class="">
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon2-copy "></i>
                                    </button>
                                    <button class="btn btn-icon btn-sm btn-hover-icon-primary">
                                        <i class="flaticon-delete "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3">
                    <div class="card card-custom sticky" data-sticky="true" data-margin-top="140px" data-sticky-for="1023" data-sticky-class="sticky">
                        <div class="card-body p-0">
                            <ul class="navi navi-bold navi-hover my-5" role="tablist">
                                <li class="navi-item">
                                    <a class="navi-link active" data-toggle="tab" href="#kt_profile_tab_personal_information">
                                        <span class="navi-icon">
                                            <i class="flaticon-add-circular-button"></i>
                                        </span>
                                        <span class="navi-text">Add New Question</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a class="navi-link " data-toggle="tab" href="#kt_profile_tab_personal_information">
                                        <span class="navi-icon">
                                            <i class="flaticon-add-circular-button"></i>
                                        </span>
                                        <span class="navi-text">Another Option</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a class="navi-link " data-toggle="tab" href="#kt_profile_tab_personal_information">
                                        <span class="navi-icon">
                                            <i class="flaticon-add-circular-button"></i>
                                        </span>
                                        <span class="navi-text">Another Option</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a class="navi-link " data-toggle="tab" href="#kt_profile_tab_personal_information">
                                        <span class="navi-icon">
                                            <i class="flaticon-add-circular-button"></i>
                                        </span>
                                        <span class="navi-text">Another Option</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>