﻿@model MIS_Entity.Entity.FacultyDetails.FacultyDetails

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<form class="form" asp-action="Create" enctype="multipart/form-data" id="facultyForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyName" class="d-block">Faculty Name</label>
                <input asp-for="FacultyName" class="form-control" placeholder="Faculty Name" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyEmail" class="d-block">Email</label>
                <input asp-for="FacultyEmail" class="form-control" placeholder="Email" />
                <span asp-validation-for="FacultyEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyContact" class="d-block">Contact</label>
                <input asp-for="FacultyContact" class="form-control" placeholder="Contact" />
                <span asp-validation-for="FacultyContact" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyType" class="d-block">Type</label>
                <select asp-for="FacultyType" asp-items="@ViewBag.FacultyTypes" class="form-control"></select>
                <span asp-validation-for="FacultyType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="HeadOfDepartment" class="d-block">Head of Department</label>
                <input asp-for="HeadOfDepartment" class="form-control" />
                <span asp-validation-for="HeadOfDepartment" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartmentID" class="d-block">Department</label>
                <select asp-for="DepartmentID" asp-items="@ViewBag.Departments" class="form-control" placeholder="Department"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageDetails" class="control-label">Faculty Image</label>
            <input asp-for="ImageDetails" class="form-control" type="file" name="ImageDetails" />
            <span asp-validation-for="ImageDetails" class="text-danger"></span>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
