﻿@model MIS_Entity.Entity.FacultyDetails.FacultyDetails

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<h1>Edit</h1>

    <h4>Faculty</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FacultyName" class="control-label"></label>
                    <input asp-for="FacultyName" class="form-control" />
                    <span asp-validation-for="FacultyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentID" class="control-label"></label>
                    <input asp-for="DepartmentID" class="form-control" />
                    <span asp-validation-for="DepartmentID" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HeadOfDepartment" /> @Html.DisplayNameFor(model => model.HeadOfDepartment)
                    </label>
                </div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedTimes" class="control-label"></label>
                    <input asp-for="ModifiedTimes" class="form-control" />
                    <span asp-validation-for="ModifiedTimes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecordStatus" class="control-label"></label>
                    <select asp-for="RecordStatus" class="form-control"></select>
                    <span asp-validation-for="RecordStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

<form class="form" asp-action="Edit" enctype="multipart/form-data" id="facultyForm">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyName" class="d-block">Faculty Name</label>
                <input asp-for="FacultyName" class="form-control" placeholder="Faculty Name" />
                <span asp-validation-for="FacultyName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyEmail" class="d-block">Email</label>
                <input asp-for="FacultyEmail" class="form-control" placeholder="Email" />
                <span asp-validation-for="FacultyEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyContact" class="d-block">Contact</label>
                <input asp-for="FacultyContact" class="form-control" placeholder="Contact" />
                <span asp-validation-for="FacultyContact" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FacultyType" class="d-block">Type</label>
                <select asp-for="FacultyType" asp-items="@ViewBag.FacultyTypes" class="form-control"></select>
                <span asp-validation-for="FacultyType" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="HeadOfDepartment" class="d-block">Head of Department</label>
                <input asp-for="HeadOfDepartment" class="form-control" />
                <span asp-validation-for="HeadOfDepartment" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartmentID" class="d-block">Department</label>
                <select asp-for="DepartmentID" asp-items="@ViewBag.Departments" class="form-control" placeholder="Department"></select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageDetails" class="control-label">Faculty Image</label>
            <input asp-for="ImageDetails" class="form-control" type="file" name="ImageDetails" />
            <span asp-validation-for="ImageDetails" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
        <input type="hidden" asp-for="CreatedBy" value="@ViewBag.CreatedBy" />
        <input type="hidden" asp-for="CreatedDate" value="@ViewBag.CreatedDate" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
