﻿@model MIS_Entity.Entity.Batches.BatchDetails

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

@*<h1>Create</h1>

<h4>BatchDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BatchName" class="control-label"></label>
                <input asp-for="BatchName" class="form-control" />
                <span asp-validation-for="BatchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchCode" class="control-label"></label>
                <input asp-for="BatchCode" class="form-control" />
                <span asp-validation-for="BatchCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchType" class="control-label"></label>
                <input asp-for="BatchType" class="form-control" />
                <span asp-validation-for="BatchType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchYear" class="control-label"></label>
                <input asp-for="BatchYear" class="form-control" />
                <span asp-validation-for="BatchYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class ="form-control" asp-items="ViewBag.CreatedBy"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedTimes" class="control-label"></label>
                <input asp-for="ModifiedTimes" class="form-control" />
                <span asp-validation-for="ModifiedTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordStatus" class="control-label"></label>
                <select asp-for="RecordStatus" class="form-control"></select>
                <span asp-validation-for="RecordStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<form class="form" asp-action="Create" enctype="multipart/form-data" id="batchForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchName" class="d-block">Batch Name</label>
                <input asp-for="BatchName" class="form-control" placeholder="Batch Name" />
                <span asp-validation-for="BatchName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchCode" class="d-block">Batch Code</label>
                <input asp-for="BatchCode" class="form-control" placeholder="Batch Code" />
                <span asp-validation-for="BatchCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchYear" class="d-block">Batch Year</label>
                <input asp-for="BatchYear" class="form-control" placeholder="Batch Year"/>
                <span asp-validation-for="BatchYear" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchType" class="d-block">Batch Type</label>
                <input asp-for="BatchType" class="form-control" placeholder="Batch Type"/>
                <span asp-validation-for="BatchType" class="text-danger"></span>
            </div>
        </div>       
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
