﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

}

@Html.AntiForgeryToken();
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Account</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Account</a>
                    </div>
                </div>
            </div>
            @*<div class="d-flex align-items-center">
            <a href="#" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2" id="btnAddNewBook">Add New Book</a>
            <a href="~/BookGenres/Index" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2">Book Genres</a>
            </div>*@
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Account</span>
                                <span class="text-muted mt-1 font-weight-bold font-size-sm">Update password</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12">
                                    @*<hr>*@
                                    <h4>Password Successfully Changed !</h4>

                                    <p>Password for the user has been changed successfully.Re-login using your new credentials.</p>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*<script src="~/js/Common/DataSource.js"></script>
        <script src="~/js/Books/Book.js"></script>*@
}
