﻿@model MIS.ViewModel.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Users</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Create User</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Edit User</span>
                                <span class="text-muted mt-1 font-weight-bold font-size-sm">Edit User Details</span>
                            </h3>

                        </div>
                         
                        <div class="card-body">

                            <form method="post"> 
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-lg-12 row">
                                    <div class="col-sm-6 form-group">
                                        <label asp-for="FullName"></label>
                                        <input asp-for="FullName" class="form-control" required />
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 row">

                                    <div class="col-sm-4 form-group">
                                        <label asp-for="Contact">Employee Code</label>
                                        <input asp-for="Contact" class="form-control" />
                                        <span asp-validation-for="Contact" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label asp-for="WorkTitle">Work Position</label>
                                        <input asp-for="WorkTitle" class="form-control" />
                                        <span asp-validation-for="WorkTitle" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-12 row">
                                    <div class="col-sm-8 form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Role Assign</label>
                                        <table class="table table-striped">
                                            <tbody>
                                                @{
                                                    foreach (var item in ViewBag.RoleList as List<MIS_Entity.Entity.Identity.ApplicationRole>)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @item.Name
                                                            </td>
                                                            <td>
                                                                @if (Model.CurrentRole == item.Name)
                                                                {
                                                                    <input type="checkbox" name="role" value="@item.Name" class="checkbox-inline role" checked />
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" name="role" value="@item.Name" class="checkbox-inline role" />
                                                                }


                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                <div class="col-sm-12 form-group">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
