﻿@model List<MIS_Entity.ViewModel.GetLoginViewModel>
@{
    Layout = "_LayoutAdmin";
}

@Html.AntiForgeryToken();
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Login Activity</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Login Activity</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Library</span>
                                <span class="text-muted mt-1 font-weight-bold font-size-sm">List of books available in library</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>IP Address</th>
                                        <th>Latitude</th>
                                        <th>Longitude</th>
                                        <th>Browser </th>
                                        <th>Status </th>
                                        <th>Audit Date </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>

                                            <td>@item.Email</td>
                                            <td>@item.LoginIP</td>
                                            <td>@item.LoginLatitude</td>
                                            <td>@item.LoginLongitude</td>
                                            <td>@item.UserAgent</td>
                                            <td><span class="label label-lg font-weight-bold  label-light-danger label-inline">@item.Success.ToString()</span></td>
                                            <td>@item.AuditDate.AddHours(5).AddMinutes(45)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
