﻿@model MIS.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }


}

@Html.AntiForgeryToken();
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Account</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Account</a>
                    </div>
                </div>
            </div>
            @*<div class="d-flex align-items-center">
                    <a href="#" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2" id="btnAddNewBook">Add New Book</a>
                    <a href="~/BookGenres/Index" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2">Book Genres</a>
                </div>*@
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Account</span>
                                <span class="text-muted mt-1 font-weight-bold font-size-sm">Reset password</span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row clearfix">

                                <div class="col-lg-12 col-md-12">
                                    @*<hr>*@
                                    <h6>Change Password</h6>
                                    <form method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" asp-for="Email" placeholder="User Email" required>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" asp-for="SuperPassword" placeholder="Super User Password" required>
                                            <span asp-validation-for="SuperPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" required>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="sign-info">
                                            <button type="submit" class="btn btn-primary">Change Password</button>

                                        </div>
                                        @*<div class="col-sm-12 m-t-20 text-right">
                                                <button type="submit" class="btn btn-primary">SAVE</button> &nbsp;
                                                <button type="button" class="btn btn-default">CANCEL</button>
                                            </div>*@
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/js/Common/DataSource.js"></script>
        <script src="~/js/Books/Book.js"></script>*@
}