﻿@model MIS_Entity.Entity.Library.BookRequest

@{
    Layout = null;
}
<form class="form" asp-action="Edit" id="RequestForm">
    <div class="row">
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.BookDetails)
        @Html.HiddenFor(x => x.RequestStatus)
        @Html.HiddenFor(x => x.RequestedOn)
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BookId" class="d-block">Genre</label>
                <select asp-for="BookId" asp-items="@ViewBag.AllBooks" class="form-control"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="RequestedFor" class="d-block">From</label>
                <input asp-for="RequestedFor" class="form-control" placeholder="Requested For" />
                <span asp-validation-for="RequestedFor" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="RequestedTil" class="d-block">To</label>
                <input asp-for="RequestedTil" class="form-control" placeholder="Requested Till" />
                <span asp-validation-for="RequestedTil" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="AdditionalRemarks" class="d-block">Comment</label>
                    <textarea asp-for="AdditionalRemarks" class="form-control" placeholder="Requested Till"></textarea>
                    <span asp-validation-for="AdditionalRemarks" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
</form>