﻿@model List<MIS.ViewModel.BookRequestViewModel>
@{
    if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Book Requests</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">List of request</a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-transparent-white font-weight-bold py-3 px-6 mr-2" id="btnRequestBook">Request for a Book</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Your Requests</span>
                            </h3>

                        </div>
                        <div class="card-body">

                            <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                <thead>
                                    <tr>
                                        <th>Book Name</th>
                                        <th>Student Name</th>
                                        <th>RequestedFor</th>
                                        <th>RequestedTill</th>
                                        <th>RequestedOn</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    @*<div class="symbol symbol-40 symbol-sm flex-shrink-0">
                                                <img class="" src="~/assets/media/books/5.png" alt="photo">
                                                </div>*@
                                                    <div class="ml-4">
                                                        <a href="#" class="text-dark-75 text-hover-primary font-weight-bolder font-size-lg mb-0">@item.BookName</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.Fullname</td>
                                            <td>@item.RequestedFor.ToString("dd/MM/yyyy")</td>
                                            <td>@item.RequestedTil.ToString("dd/MM/yyyy")</td>
                                            <td><span class="label label-lg font-weight-bold  label-light-danger label-inline">@item.RequestedOn.ToString("dd/MM/yyyy")</span></td>
                                            <td nowrap="nowrap">
                                                 
                                                <a href="#" data-val="@item.BookId" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon btnDelete" title="Delete">

                                                    <span class="svg-icon svg-icon-md">

                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                                                                <rect x="0" y="0" width="24" height="24" />\
                                                                <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />\
                                                                <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />\
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </a>
                                                @if (!User.IsStudent())
                                                {

                                                    <a href="#" data-val="@item.UserId" data-id="@item.BookId" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnRequestAction" title="Edit details">

                                                        <span class="svg-icon svg-icon-md">

                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

                                                                    <rect x="0" y="0" width="24" height="24" />\
                                                                    <path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) " />\
                                                                    <path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />\
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </a>


                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/js/Common/DataSource.js"></script>>
    <script src="~/js/Books/BookRequest.js"></script>
}