﻿@model MIS.ViewModel.BookRequestActionVM

@{
    Layout = null;
}

<form class="form" asp-action="RequestAction" enctype="multipart/form-data" id="RequestForm">
    <h4>Available Stocks : @Model.AvailableStock</h4>
    <div class="row">
        @Html.HiddenFor(x => x.BookId)
        @Html.HiddenFor(x => x.UserId)


        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="RequestStatus" class="d-block">Action</label>
                <select asp-for="RequestStatus" asp-items="@ViewBag.RequestStatus" class="form-control"></select>
                <span asp-validation-for="RequestStatus" class="text-danger"></span>
            </div>
        </div>


    </div>
</form>