﻿@model MIS_Entity.Entity.Classes.UserAttendanceDetails

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@if (Convert.ToInt32(TempData["ShowCheckInTime"]) == 0)
{
    <form class="form" asp-action="CheckIn" enctype="multipart/form-data" id="AttendanceForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Remarks" class="d-block">Remarks</label>
                    <textarea name="Remarks" class="form-control" placeholder="Remarks"> </textarea>
                    <span name="Remarks" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success font-weight-bold">Check In</button>

        </div>
    </form>
}
else
{
    <form class="form" asp-action="CheckOut" enctype="multipart/form-data" id="AttendanceForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Remarks" class="d-block">Remarks</label>
                    <textarea name="Remarks" class="form-control" placeholder="Remarks"> </textarea>
                    <span name="Remarks" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="modal-footer">

            <button type="submit" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Check Out</button>

        </div>
    </form>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
