﻿@model MIS.ViewModel.RoleViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex flex-column">
                    <h2 class="text-white font-weight-bold my-2 mr-5">Role Management</h2>
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Roles</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-column flex-md-row">
                <div class="flex-md-row-fluid">
                    <div class="card card-custom">
                        <div class="card-header flex-wrap  pt-6 pb-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Role</span>
                                <span class="text-muted mt-1 font-weight-bold font-size-sm">List of user role.</span>
                            </h3>

                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            @Html.LabelFor(x => x.Name, "Role Name")
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Role Name" })
                                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Module Name</th>
                                            <th><input type="checkbox" class="SelectAll" data-name="View" /><span style="margin-left: 6px;">Can View</span></th>
                                            <th><input type="checkbox" class="SelectAll" data-name="Create" /><span style="margin-left: 6px;">Can Create</span></th>
                                            <th><input type="checkbox" class="SelectAll" data-name="Edit" /><span style="margin-left: 6px;">Can Edit</span></th>
                                            <th><input type="checkbox" class="SelectAll" data-name="Delete" /><span style="margin-left: 6px;">Can Delete</span></th>
                                            <th><input type="checkbox" class="SelectAll" data-name="Authorise" /><span style="margin-left: 6px;">Authorise</span></th>
                                            <th><input type="checkbox" class="SelectAll" data-name="Download" /><span style="margin-left: 6px;">Can Download</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 0;

                                            foreach (var item in Model.roleDetailsList.OrderBy(x => x.ModuleName))
                                            {
                                                <tr>

                                                    <td hidden="hidden">
                                                        @Html.HiddenFor(x => Model.roleDetailsList[i].ModuleName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(x => Model.roleDetailsList[i].ModuleName)
                                                    </td>
                                                    <td>
                                                        @if (item.IsView)
                                                        {

                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsView, new { @class = "IsView checked" })
                                                        }
                                                        else
                                                        {
                                                            @*<input type="checkbox" class="ViewAll" name="roleDetailsList[@i].IsView" />*@
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsView, new { @class = "IsView" })

                                                        }

                                                    </td>
                                                    <td>
                                                        @if (item.IsCreate)
                                                        {
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsCreate, new { @class = "IsCreate checked" })
                                                        }
                                                        else
                                                        {
                                                            @*<input type="checkbox" class="CreateAll" name="roleDetailsList[@i].IsCreate" />*@
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsCreate, new { @class = "IsCreate" })
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.IsEdit)
                                                        {
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsEdit, new { @class = "IsEdit checked" })
                                                        }
                                                        else
                                                        {
                                                            @*<input type="checkbox" class="EditAll" name="roleDetailsList[@i].IsEdit" />*@
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsEdit, new { @class = "IsEdit" })
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.IsDelete)
                                                        {
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsDelete, new { @class = "IsDelete checked" })
                                                        }
                                                        else
                                                        {
                                                            @*<input type="checkbox" class="DeleteAll" name="roleDetailsList[@i].IsDelete" />*@
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsDelete, new { @class = "IsDelete" })
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.IsAuthorize)
                                                        {
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsAuthorize, new { @class = "IsAuthorize checked" })
                                                        }
                                                        else
                                                        {
                                                            @*<input type="checkbox" class="DeleteAll" name="roleDetailsList[@i].IsDelete" />*@
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsAuthorize, new { @class = "IsAuthorize" })
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.IsDownload)
                                                        {
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsDownload, new { @class = "IsDownload checked" })
                                                        }
                                                        else
                                                        {
                                                            @*<input type="checkbox" class="DeleteAll" name="roleDetailsList[@i].IsDelete" />*@
                                                            @Html.CheckBoxFor(x => Model.roleDetailsList[i].IsDownload, new { @class = "IsDownload" })
                                                        }
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }

                                    </tbody>
                                </table>
                                <div class="box-footer clearfix">
                                    <div class="col-md-2" style="float:right">
                                        <button type="submit" id="Create" class="btn btn-block btn-primary btn-flat">Update</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(function () {
            //$('input').iCheck({
            //    checkboxClass: 'icheckbox_square-blue',
            //    radioClass: 'iradio_square-blue',
            //    increaseArea: '20%' // optional
            //});

            $('.SelectAll').on('change', function () {

                if ($(this).prop('checked') == true) {
                    if ($(this).attr('data-name') == "View") {
                        $('.IsView').prop('checked', true);
                    }
                    else if ($(this).attr('data-name') == "Create") {
                        $('.IsCreate').prop('checked', true);
                    }
                    else if ($(this).attr('data-name') == "Edit") {
                        $('.IsEdit').prop('checked', true);
                    }
                    else if ($(this).attr('data-name') == "Delete") {
                        $('.IsDelete').prop('checked', true);
                    }
                    else if ($(this).attr('data-name') == "Authorise") {
                        $('.IsAuthorize').prop('checked', true);
                    }
                    else if ($(this).attr('data-name') == "Download") {
                        $('.IsDownload').prop('checked', true);
                    }
                }

                if ($(this).prop('checked') == false) {
                    if ($(this).attr('data-name') == "View") {
                        $('.IsView').prop('checked', false);
                    }
                    else if ($(this).attr('data-name') == "Create") {
                        $('.IsCreate').prop('checked', false);
                    }
                    else if ($(this).attr('data-name') == "Edit") {
                        $('.IsEdit').prop('checked', false);
                    }
                    else if ($(this).attr('data-name') == "Delete") {
                        $('.IsDelete').prop('checked', false);
                    }
                    else if ($(this).attr('data-name') == "Authorise") {
                        $('.IsAuthorize').prop('checked', false);
                    }
                    else if ($(this).attr('data-name') == "Download") {
                        $('.IsDownload').prop('checked', false);
                    }
                }

            });
        });

    </script>
}
