﻿@model MIS_Entity.Entity.Classes.ClassDetails

@{
    ViewData["Title"] = "Create";
    Layout = null;
}



<form class="form" asp-action="Create" enctype="multipart/form-data" id="classForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchID" class="d-block">Batch</label>
                <select asp-for="BatchID" asp-items="@ViewBag.Batch" class="form-control"></select>
                <span asp-validation-for="BatchID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseID" class="d-block">Course Name</label>
                <select asp-for="CourseID" asp-items="@ViewBag.Course" class="form-control">
                    <option value="" selected>None</option>
                </select>

                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectID" class="d-block">Subject</label>
                <select asp-for="SubjectID" class="form-control"></select>
                <span asp-validation-for="SubjectID" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchYear" class="d-block">Batch Year</label>
                <input asp-for="BatchYear" class="form-control" placeholder="Batch Year" />
                <span asp-validation-for="BatchYear" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="WeekDays" class="d-block">Day</label>
                <select asp-for="WeekDays" asp-items="@ViewBag.WeekDays" class="form-control"></select>
                <span asp-validation-for="WeekDays" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ClassStartTime" class="d-block">Class Start Time</label>
                <input asp-for="ClassStartTime" class="form-control" placeholder="Batch Year" />
                <span asp-validation-for="ClassStartTime" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ClassEndTime" class="d-block">Class End Time</label>
                <input asp-for="ClassEndTime" class="form-control" placeholder="Batch Year" />
                <span asp-validation-for="ClassEndTime" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="MeetingLink" class="d-block">Meeting Link (if any)</label>
                <input asp-for="MeetingLink" class="form-control" placeholder="Meeting Link" />
                <span asp-validation-for="MeetingLink" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
