﻿@model MIS_Entity.Entity.Classes.ClassDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ClassDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BatchID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BatchID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BatchYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BatchYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeekDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeekDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassEndTime)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedTimes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTimes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
