﻿@model MIS_Entity.Entity.Classes.ClassDetails

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<h1>Edit</h1>

    <h4>ClassDetails</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CourseID" class="control-label"></label>
                    <input asp-for="CourseID" class="form-control" />
                    <span asp-validation-for="CourseID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BatchID" class="control-label"></label>
                    <input asp-for="BatchID" class="form-control" />
                    <span asp-validation-for="BatchID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BatchYear" class="control-label"></label>
                    <input asp-for="BatchYear" class="form-control" />
                    <span asp-validation-for="BatchYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WeekDays" class="control-label"></label>
                    <select asp-for="WeekDays" class="form-control"></select>
                    <span asp-validation-for="WeekDays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassStartTime" class="control-label"></label>
                    <input asp-for="ClassStartTime" class="form-control" />
                    <span asp-validation-for="ClassStartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassEndTime" class="control-label"></label>
                    <input asp-for="ClassEndTime" class="form-control" />
                    <span asp-validation-for="ClassEndTime" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedTimes" class="control-label"></label>
                    <input asp-for="ModifiedTimes" class="form-control" />
                    <span asp-validation-for="ModifiedTimes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecordStatus" class="control-label"></label>
                    <select asp-for="RecordStatus" class="form-control"></select>
                    <span asp-validation-for="RecordStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

<form class="form" asp-action="Edit" enctype="multipart/form-data" id="classForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseID" class="d-block">Course Name</label>
                <select asp-for="CourseID" asp-items="@ViewBag.Course" class="form-control"></select>
                <span asp-validation-for="CourseID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchID" class="d-block">Batch</label>
                <select asp-for="BatchID" asp-items="@ViewBag.Batch" class="form-control"></select>
                <span asp-validation-for="BatchID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchYear" class="d-block">Batch Year</label>
                <input asp-for="BatchYear" class="form-control" placeholder="Batch Year" />
                <span asp-validation-for="BatchYear" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="WeekDays" class="d-block">Day</label>
                <select asp-for="WeekDays" asp-items="@ViewBag.WeekDays" class="form-control"></select>
                <span asp-validation-for="WeekDays" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ClassStartTime" class="d-block">Class Start Time</label>
                <input asp-for="ClassStartTime" class="form-control" placeholder="Batch Year" />
                <span asp-validation-for="ClassStartTime" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ClassEndTime" class="d-block">Class End Time</label>
                <input asp-for="ClassEndTime" class="form-control" placeholder="Batch Year" />
                <span asp-validation-for="ClassEndTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MeetingLink" class="d-block">Meeting Link (if any)</label>
                    <input asp-for="MeetingLink" class="form-control" placeholder="Meeting Link" />
                    <span asp-validation-for="MeetingLink" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
        <input type="hidden" asp-for="CreatedBy" value="@ViewBag.CreatedBy" />
        <input type="hidden" asp-for="CreatedDate" value="@ViewBag.CreatedDate" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
