﻿@model MIS_Entity.Entity.BookGenre

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<h1>Edit</h1>

    <h4>BookGenre</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

<form class="form" asp-action="Edit" enctype="multipart/form-data" id="bookGenreForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="d-block">Genre Name</label>
                <input asp-for="Name" class="form-control" placeholder="Genre Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Description" class="d-block">Genre Description</label>
                <input asp-for="Description" class="form-control" placeholder="Genre Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
        
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
