﻿@model MIS_Entity.Entity.StudentDetails


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="card-group">
    <div class="">
        <div class="mb-3 card">
            <h5 class="card-header">Basic Information</h5>
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-4">

                        <div class="form-group">
                            <label asp-for="StudentName" class="control-label"></label>
                            <input asp-for="StudentName" class="form-control" />
                            <span asp-validation-for="StudentName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DOB" class="control-label"></label>
                            <input asp-for="DOB" type="date" class="form-control" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="BloodGroup" class="control-label"></label>
                            <select asp-for="BloodGroup" asp-items="@Html.GetEnumSelectList<BloodGroups>()" class="form-control"></select>
                            <span asp-validation-for="BloodGroup" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Religion" class="control-label"></label>
                            <input asp-for="Religion" class="form-control" />
                            <span asp-validation-for="Religion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="MobileNumber" class="control-label"></label>
                            <input asp-for="MobileNumber" class="form-control" />
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StudentEmail" class="control-label"></label>
                            <input asp-for="StudentEmail" class="form-control" />
                            <span asp-validation-for="StudentEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Nationality" class="control-label"></label>
                            <input asp-for="Nationality" class="form-control" />
                            <span asp-validation-for="Nationality" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label asp-for="BatchId" class="control-label"></label>
                            <select asp-for="BatchId" asp-items="@ViewBag.BatchId" class="form-control"></select>
                            <span asp-validation-for="BatchId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label asp-for="CourseId" class="control-label"></label>
                            <select asp-for="CourseId" asp-items="ViewBag.CourseId" class="form-control"></select>
                            <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ProfileImgLocation" class="control-label"></label>
                            <input asp-for="ProfilePic" type="file" class="form-control" />
                            <span asp-validation-for="ProfilePic" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 card">
            <h5 class="card-header">Family Information</h5>
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Mothername" class="control-label"></label>
                            <input asp-for="Mothername" class="form-control" />
                            <span asp-validation-for="Mothername" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Fathername" class="control-label"></label>
                            <input asp-for="Fathername" class="form-control" />
                            <span asp-validation-for="Fathername" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="AlternateNumber" class="control-label">Guardian Number</label>
                            <input asp-for="AlternateNumber" class="form-control" />
                            <span asp-validation-for="AlternateNumber" class="text-danger"></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="mb-3 card">
            <h5 class="card-header">Guardian Contact</h5>
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="GuardianEmail" class="control-label"></label>
                            <input asp-for="GuardianEmail" class="form-control" />
                            <span asp-validation-for="GuardianEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="GuardianContact" class="control-label"></label>
                            <input asp-for="GuardianContact" class="form-control" />
                            <span asp-validation-for="GuardianContact" class="text-danger"></span>
                        </div>
                    </div> 

                </div>
            </div>
        </div>

        <div class="mb-3 card">
            <h5 class="card-header">Permanent Address Information</h5>
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PermanentCountry" class="control-label"></label>
                            <input asp-for="PermanentCountry" class="form-control" />
                            <span asp-validation-for="PermanentCountry" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PermanentState" class="control-label"></label>
                            <input asp-for="PermanentState" class="form-control" />
                            <span asp-validation-for="PermanentState" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PermanentCity" class="control-label"></label>
                            <input asp-for="PermanentCity" class="form-control" />
                            <span asp-validation-for="PermanentCity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PermanentLocality" class="control-label"></label>
                            <input asp-for="PermanentLocality" class="form-control" />
                            <span asp-validation-for="PermanentLocality" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 card">
            <h5 class="card-header">Temporary Address Information</h5>
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TemporaryCountry" class="control-label"></label>
                            <input asp-for="TemporaryCountry" class="form-control" />
                            <span asp-validation-for="TemporaryCountry" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TemporaryState" class="control-label"></label>
                            <input asp-for="TemporaryState" class="form-control" />
                            <span asp-validation-for="TemporaryState" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TemporaryCity" class="control-label"></label>
                            <input asp-for="TemporaryCity" class="form-control" />
                            <span asp-validation-for="TemporaryCity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TemporaryLocality" class="control-label"></label>
                            <input asp-for="TemporaryLocality" class="form-control" />
                            <span asp-validation-for="TemporaryLocality" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-3 card">
            <h5 class="card-header">Identification Information</h5>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StudentID" class="control-label"></label>
                            <input asp-for="StudentID" class="form-control" />
                            <span asp-validation-for="StudentID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="RegistrationNo" class="control-label">Registration No.</label>
                            <input asp-for="RegistrationNo" class="form-control" />
                            <span asp-validation-for="RegistrationNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Intake" class="control-label">Intake</label>
                            <input asp-for="Intake" class="form-control" />
                            <span asp-validation-for="Intake" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Identification" class="control-label"></label>
                            <input asp-for="Identification" class="form-control" />
                            <span asp-validation-for="Identification" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Id_Number" class="control-label"></label>
                            <input asp-for="Id_Number" class="form-control" />
                            <span asp-validation-for="Id_Number" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Id_Issued_Date" class="control-label"></label>
                            <input asp-for="Id_Issued_Date" type="date" class="form-control" />
                            <span asp-validation-for="Id_Issued_Date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Id_Issued_Place" class="control-label"></label>
                            <input asp-for="Id_Issued_Place" class="form-control" />
                            <span asp-validation-for="Id_Issued_Place" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Id_Issued_Country" class="control-label"></label>
                            <input asp-for="Id_Issued_Country" class="form-control" />
                            <span asp-validation-for="Id_Issued_Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    </div>*@
</div>
