﻿@model MIS_Entity.Entity.BookDetails

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@*<h1>Create</h1>

<h4>BookDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" asp-items="@ViewBag.BookGenre" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookTypes" class="control-label"></label>
                <select asp-for="BookTypes" asp-items="@ViewBag.BookTypes" class="form-control" onchange="bookType()"></select>
                <span asp-validation-for="BookTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCount" class="control-label"></label>
                <input asp-for="BookCount" class="form-control" />
                <span asp-validation-for="BookCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AvailabilityStatus" /> @Html.DisplayNameFor(model => model.AvailabilityStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ReleasedDate" class="control-label"></label>
                <input asp-for="ReleasedDate" class="form-control" />
                <span asp-validation-for="ReleasedDate" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="ImageDetails" class="control-label"></label>
                <input asp-for="ImageDetails" class="form-control" type="file" name="ImageDetails" />
                <span asp-validation-for="ImageDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<form class="form" asp-action="Create" enctype="multipart/form-data" id="libraryForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="d-block">Book Name</label>
                <input asp-for="Name" class="form-control" placeholder="Book Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Author" class="d-block">Author Name</label>
                <input asp-for="Author" class="form-control" placeholder="Author Name" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Genre" class="d-block">Genre</label>
                <select asp-for="Genre" asp-items="@ViewBag.BookGenre" class="form-control"></select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BookTypes" class="d-block">Type</label>
                <select asp-for="BookTypes" asp-items="@ViewBag.BookTypes" class="form-control"></select>
                <span asp-validation-for="BookTypes" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BookCount" class="d-block">Book Count</label>
                <input asp-for="BookCount" class="form-control" placeholder="Book Count" />
                <span asp-validation-for="BookCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseId" class="d-block">Course</label>
                <select asp-for="CourseId" asp-items="@ViewBag.Courses" class="form-control"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="form-group">
                <label asp-for="AvailabilityStatus" class="d-block">Status</label>
                <select asp-for="AvailabilityStatus" asp-items="" class="form-control></select>
                <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>
            </div>
        </div>*@
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReleasedDate" class="d-block">Published Year</label>
                <input asp-for="ReleasedDate" class="form-control" placeholder="Published Year" />
                <span asp-validation-for="ReleasedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageDetails" class="control-label">Image</label>
            <input asp-for="ImageDetails" class="form-control" type="file" name="ImageDetails" />
            <span asp-validation-for="ImageDetails" class="text-danger"></span>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
