﻿@model MIS.ViewModel.DocumentViewerVM

@{
    Layout = "_LayoutDocview";
    ViewData["Title"] = "Home Page";
}

<style>
    .modal-body {
        position: relative;
        overflow-y: auto;
        padding: 15px 0px 0px 0px;
        height: 100%;
    }

    .modal.modal-wide .modal-dialog {
        width: 75%;
    }

    .modal-wide .modal-body {
        overflow-y: auto;
    }

</style>

@*<div class="row">
    <div class="col-md-9">
    <h2>Document Viewer</h2>
    <input type="hidden" value="@ViewBag.BookId" id="BookId" />
    <input type="hidden" value="@ViewBag.Location" id="scream" />
    <button id="prev">Previous</button>
    <button id="next">Next</button>
    <button id="zoomIn">++</button>
    <button id="zoomOut">--</button>
    <span>Page:<span id="page_num"></span>/<span id="page_count"></span></span>
    <canvas id="pdf_canvas"> </canvas>
    </div>
    </div>*@


<input type="hidden" value="@Model.LocationKey" id="scream" />
<div class="well">
    <div class="row" style="
    background-color: white;
    box-shadow: 0px -9px 15px 6px black;
">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="row alert alert-primary">
                    <div class="col-md-6">
                        <div id="docName" class="panel-heading"><b>@Model.BookName</b></div>

                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            <span class="badge badge-success">Page:<span id="page_num"></span> / <span id="page_count"></span></span> <!-- docLinksList -->
                            <button id="prev" class="btn btn-primary" title="Previous File">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                </svg>
                            </button>
                            <button id="next" class="btn btn-primary" title="Next File">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg>
                            </button>
                            @if (Model.IsDownloadable)
                            {
                                <a href="@Model.LocationKey" class="btn btn-warning" title="Download File" download>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg>
                                </a>
                            }
                        </div>

                    </div>
                </div>


                <div id="docContents" class="panel-body text-center">
                    <canvas id="pdf_canvas"> </canvas>
                </div>
            </div> <!-- contentViewer -->
        </div> <!-- rightCol -->
    </div> <!-- row -->
</div> <!-- container -->
@section scripts{
<script>
    function resize(){
      $("#pdf_canvas").outerHeight($(window).height()-$("#pdf_canvas").offset().top- Math.abs($("#pdf_canvas").outerHeight(true) - $("#pdf_canvas").outerHeight()));
    }
    $(document).ready(function(){
      resize();
      $(window).on("resize", function(){
          resize();
      });
    });
</script>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>
<script>
         var pdfDoc= null,
         pageNum=1,
         pageRendering=false,
         pageNumPending= null,
         scale = 1.5,
         canvas = document.getElementById("pdf_canvas")
         ctx= canvas.getContext('2d')


        var url =document.getElementById('scream').value;

        function renderPage(num){
            pageRendering = true
            pdfDoc.getPage(num).then((page)=>{
             var viewport = page.getViewport({scale:scale});
             canvas.height = viewport.height
             canvas.width = viewport.width

             var renderContext = {
                 canvasContext:ctx,
                 viewport:viewport
             }

             var renderTask = page.render(renderContext)
             renderTask.promise.then(()=>{
    pageRendering =false;
    if(pageNumPending!==null){
        renderPage(pageNumPending)
        pageNumPending = null
    }
             })

            })
            document.getElementById('page_num').textContent=num;
        }

        function  queueRenderPage(num){
            if(pageRendering){
                pageNumPending=num;
            }
            else{
                renderPage(num);
            }
        }

        function onPrevPage(){
            if(pageNum<=1){
                return
            }
            pageNum--;
            queueRenderPage(pageNum);
        }
         document.getElementById('prev').addEventListener('click',onPrevPage)

         function onNextPage(){
            if(pageNum >=pdfDoc.numPages){
                return
            }
            pageNum++;
            queueRenderPage(pageNum);
        }
         document.getElementById('next').addEventListener('click',onNextPage)

        pdfjsLib.getDocument(url).promise.then((doc)=>{
            pdfDoc = doc
            document.getElementById('page_count').textContent = doc.numPages;
            renderPage(pageNum);
        });
</script>

@*
    @section scripts{
    <script>
    function ViewDocument() {
    var Id = $('#BookId').val();
    var data = { BookId: Id };
    $.ajax({
    type: "POST",
    url: '/Books/DocumentView',
    data: data,
    dataType: "text"
    }).done(function (dt) {
    debugger;
    var data =  JSON.parse(dt);
    $("#content").empty();
    for (var i = 1; i <= data.pageCount; i++) {
    $("#content").append("<img src='Content/" + data.folderName + "/page-" + i + ".png'/>");
    }

    })
    }
    ViewDocument();
    </script>
    }*@
