﻿@model List<MIS_Entity.Entity.Library.BookActivity>
@{
    Layout = null;
}
<table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Username </th>
            <th>Read Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookName</td>
                <td>@item.Username</td>
                <td>@item.AuditDate</td>

            </tr>
        }
    </tbody>
</table>
