﻿@model List<MIS_Entity.Entity.BookDetails>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="row">
     @foreach (var item in Model)
                            {
                                var bgImg = item.ImageLocation.Replace(@"\", "/");
                                <div class="col-md-4">
                                    <div class="d-flex align-items-center mb-8">
                                        <!--begin::Symbol-->
                                    <div class="symbol mr-5 pt-1">
                                            <div class="symbol-label min-w-65px min-h-100px" style="background-image: url('../@bgImg')"></div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Info-->
                                    <div class="d-flex flex-column">
                                            <!--begin::Title-->
                                        <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">@item.Name</a>
                                            <!--end::Title-->
                                            <!--begin::Text-->
                                        <span class="text-muted font-weight-bold font-size-sm pb-4">
                                                @item.Name
                                            </span>
                                            <!--end::Text-->
                                            <!--begin::Action-->
                                        <div>
                                                <a href="/Books/DocView?BookId=@item.ID" target="_blank" class="btn btn-light font-weight-bolder font-size-sm py-2" target="_blank">Read Book</a>
                                                @*<a href="@item.BookLocation" class="btn btn-light font-weight-bolder font-size-sm py-2" target="_blank">View Details</a>*@
                                            </div>
                                            <!--end::Action-->
                                    </div>
                                        <!--end::Info-->
                                </div>
                                </div>
                            }



</div>