﻿@model MIS.ViewModel.AssignmentTimelineDetailsViewModel
@{
    if (User.IsStudent())
    {
        Layout = "~/Views/Shared/_LayoutStudents.cshtml";
    }
    else if (User.IsStaff())
    {
        Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Heading-->
                <div class="d-flex flex-column">
                    <!--begin::Title-->
                    <h2 class="text-white font-weight-bold my-2 mr-5">Detail</h2>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <div class="d-flex align-items-center font-weight-bold my-2">
                        <!--begin::Item-->
                        <a href="#" class="opacity-75 hover-opacity-100">
                            <i class="flaticon2-shelter text-white icon-1x"></i>
                        </a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Assignment</a>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                        <a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Details</a>
                        <!--end::Item-->
                    </div>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Heading-->
            </div>
            <!--end::Info-->

        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                    <!-- begin: Invoice-->
                    <!-- begin: Invoice header-->
                    <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                <h1 class="display-4 font-weight-boldest mb-10">@Model.AssignmentName</h1>

                            </div>
                            <div class="border-bottom w-100"></div>
                            <div class="d-flex justify-content-between pt-6">
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Student Name</span>
                                    <span class="opacity-70">
                                        @Model.SubmittedByName
                                    </span>
                                </div>

                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Assignment  Status</span>
                                    @if(Model.AssignmentStatus == MIS_Entity.Enum.AssignmentStatus.Returned)
                                    {
                                          <span><span class="opacity-70 badge badge-warning">@Model.AssignmentStatus.ToString()</span> </span>
                                    }
                                    else if (Model.AssignmentStatus == MIS_Entity.Enum.AssignmentStatus.Rejected)
                                    {
                                        <span>
                                            <span class="badge badge-danger text-left">@Model.AssignmentStatus.ToString()</span> </span>
                                     
                                        
                                    }
                                    else if (Model.AssignmentStatus == MIS_Entity.Enum.AssignmentStatus.Approved)
                                    {
                                            <span>
                                                <span class="badge badge-success">@Model.AssignmentStatus.ToString()</span> </span>
                                    }
                                    else
                                                {  <span>
                                            <span class="badge badge-secondary">@Model.AssignmentStatus.ToString()</span>
                                        </span>
                                    }

                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">Submitted  Assignment</span>
                                    <a href="@Model.FileLocation" class="btn btn-light-primary font-weight-bold mb-2" download">Download File</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice header-->
                    <!-- begin: Invoice body-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="example-preview">
                                <ul class="nav nav-pills" id="myTab1" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab-1" data-toggle="tab" href="#home-1">
                                            <span class="nav-icon"><i class="flaticon2-chat-1"></i></span>
                                            <span class="nav-text">Given Remarks</span>
                                        </a>
                                    </li>

                                </ul>
                                <div class="tab-content mt-5" id="myTabContent1">
                                    <div class="tab-pane fade show active" id="home-1" role="tabpanel" aria-labelledby="home-tab-1">
                                        @if (Model.AssignmentTimelineViewModel != null)
                                        {


                                            <div class="table-responsive">
                                                <table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
                                                    <thead>
                                                        <tr>
                                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Given By</th>
                                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Remarks</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Submitted On</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.AssignmentTimelineViewModel)
                                                        {
                                                            <tr class="font-weight-boldest">
                                                                <td class="pl-0 pt-7">@item.GivenByName</td>
                                                                <td class="text-right pt-7">@item.Remarks</td>
                                                                <td class="text-right pt-7">@item.GivenOn</td>
                                                                <td class="text-right pt-7">@item.AssignmentStatus</td>

                                                                <td class="text-right pt-7">
                                                                    <a href="#" class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2 btnRequestAction" title="Edit details">

                                                                        <span class="svg-icon svg-icon-2">
                                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"></rect>
                                                                                <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"></path>
                                                                            </svg>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                        }

                                                    </tbody>
                                                </table>
                                            </div>


                                        }
                                        else
                                        {
                                            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                                <div class="col-md-9 text-center">
                                                    <p>Assignment pending from students</p>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    @if (User.IsStudent())
                    {
                        @if (Model.AssignmentStatus == MIS_Entity.Enum.AssignmentStatus.Returned || Model.AssignmentStatus == MIS_Entity.Enum.AssignmentStatus.Rejected)
                        {
                            <div class="d-flex flex-column-fluid">
                                <!--begin::Container-->
                                <div class="container">
                                    <!-- begin::Card-->
                                   

                                        <div class="card-header text-center"> 
                                                <h4 class="card-label text-center">Your assignment was @Model.AssignmentStatus. Please Review and Re-Submit the assignment.</h4>
                                             
                                        </div>
                                    <!--begin::Form-->
                                    <form method="post" action="/StudentAccess/AssignmentUpload">
                                        <div class="card-body">
                                            <input type="hidden" name="filePath" id="filePath" />
                                            <input type="hidden" name="fileFormat" id="fileFormat" />
                                            <input type="hidden" name="AssignmentId" value="@Model.AssignmentId" />
                                            <div class="form-group row">
                                                <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">File Type Validation</label>
                                                <div class="col-lg-4 col-md-9 col-sm-12">
                                                    <div class="dropzone dropzone-default dropzone-success" id="kt_dropzone_3">
                                                        <div class="dropzone-msg dz-message needsclick">
                                                            <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                            <span class="dropzone-msg-desc">Only image, pdf files are allowed for upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label text-lg-right">Remarks:</label>
                                                <div class="col-lg-4">
                                                    <textarea class="form-control" rows="3" name="remarks" placeholder="Please enter your message"></textarea>
                                                    <span class="form-text text-muted">Comments on your assignment and the work done process.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-4">
                                                    <button type="submit" class="btn btn-light-primary mr-2">Re-Submit</button>
                                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    @*<form action="/target" class="dropzone"></form>*@
                                    <!--end::Form-->
                                   
                                </div>
                                <!--end::Container-->
                            </div>
                        }
                        else if (Model.AssignmentStatus == MIS_Entity.Enum.AssignmentStatus.Approved)
                        {
                            <div class="d-flex flex-column-fluid">
                                <!--begin::Container-->
                                <div class="container">
                                    <!-- begin::Card-->


                                    <div class="card-header text-center">
                                        <h4 class="card-label text-center">Your assignment was @Model.AssignmentStatus. </h4>

                                    </div>


                                </div>
                                <!--end::Container-->
                            </div>
                        }
                        else
                        {
                            <div class="d-flex flex-column-fluid">
                                <!--begin::Container-->
                                <div class="container">
                                    <!-- begin::Card-->


                                    <div class="card-header text-center">
                                        <h4 class="card-label text-center">Your assignment is still pending. Please wait for review. </h4>

                                    </div>


                                </div>
                                <!--end::Container-->
                            </div>
                        }
                    }
                    else
                    {
                        <div class="d-flex flex-column-fluid">
                            <!--begin::Container-->
                            <div class="container">
                                <!-- begin::Card-->
                                <div class="card card-custom overflow-hidden">
                                    <div class="card-body p-0">
                                        <!-- begin: Invoice-->
                                        <!-- begin: Invoice header-->


                                    </div>

                                    <div class="card-header">
                                        <div class="card-title">
                                            <h3 class="card-label">Leave your Remarks</h3>
                                        </div>
                                    </div>
                                    <!--begin::Form-->
                                    <form method="post">
                                        <div class="card-body">

                                            <input type="hidden" name="AssignmentByStudentId" value="@Model.AssignmentByStudentId" />
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label text-lg-right">Status:</label>
                                                <div class="col-lg-4">
                                                    <select class="form-control" rows="3" name="AssignmentStatus" required>
                                                        <option value="" selected>-- Select  --</option>
                                                        <option value="4">Approved</option>
                                                        <option value="2">Return</option>
                                                        <option value="3">Rejected</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label text-lg-right">Remarks:</label>
                                                <div class="col-lg-4">
                                                    <textarea class="form-control" rows="3" name="Remarks" required placeholder="Please enter your message"></textarea>
                                                    <span class="form-text text-muted">Comments on your assignment and the work done process.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-4">
                                                    <button type="submit" class="btn btn-light-primary mr-2">Submit</button>
                                                    <button type="reset" class="btn btn-primary">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    @*<form action="/target" class="dropzone"></form>*@
                                    <!--end::Form-->
                                </div>
                                <!-- end::Card-->
                            </div>
                            <!--end::Container-->
                        </div>
                    }

                    <!-- end: Invoice body-->
                    <!-- begin: Invoice action-->
                    @*<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                    <div class="col-md-9">
                    <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">Download Invoice</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Print Invoice</button>
                    </div>
                    </div>
                    </div>*@
                    <!-- end: Invoice action-->
                    <!-- end: Invoice-->
                </div>
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // file type validation
        $('#kt_dropzone_3').dropzone({
            url: "/StudentAccess/UploadAssignmentDoc", // Set the url for your upload script location
            paramName: "AssignmentFile", // The name that will be used to transfer the file
            maxFiles: 10,
            maxFilesize: 10, // MB
            addRemoveLinks: true,
            acceptedFiles: "image/*,application/pdf,application/doc,.xls,.xlsx",
            accept: function (file, done) {
                done();

            },
            success: function (file, response) {
                //console.log(response.filePath);
                $('#filePath').val(response.filePath);
                $('#fileFormat').val(response.fileFormat);
            }
        });
    </script> 
    <script src="~/js/Assignment/DataSource.js"></script>
    <script src="~/js/Assignment/Assignment.js"></script>
}
 
  