﻿@model MIS_Entity.Entity.AssignmentMaterial

@{
    ViewData["Title"] = "Create";
    Layout = null;

}

@*<h1>Create</h1>

    <h4>AssignmentMaterial</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SubjectId" class="control-label"></label>
                    <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="UploadedById" class="control-label"></label>
                    <select asp-for="UploadedById" class ="form-control" asp-items="ViewBag.UploadedById"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AssignmentName" class="control-label"></label>
                    <input asp-for="AssignmentName" class="form-control" />
                    <span asp-validation-for="AssignmentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AssignmentDetail" class="control-label"></label>
                    <input asp-for="AssignmentDetail" class="form-control" />
                    <span asp-validation-for="AssignmentDetail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeadlineDate" class="control-label"></label>
                    <input asp-for="DeadlineDate" class="form-control" />
                    <span asp-validation-for="DeadlineDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FileLocation" class="control-label"></label>
                    <input asp-for="FileLocation" class="form-control" />
                    <span asp-validation-for="FileLocation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FileFormat" class="control-label"></label>
                    <input asp-for="FileFormat" class="form-control" />
                    <span asp-validation-for="FileFormat" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <select asp-for="CreatedBy" class ="form-control" asp-items="ViewBag.CreatedBy"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedBy" class="control-label"></label>
                    <input asp-for="ModifiedBy" class="form-control" />
                    <span asp-validation-for="ModifiedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedTimes" class="control-label"></label>
                    <input asp-for="ModifiedTimes" class="form-control" />
                    <span asp-validation-for="ModifiedTimes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedDate" class="control-label"></label>
                    <input asp-for="ModifiedDate" class="form-control" />
                    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecordStatus" class="control-label"></label>
                    <select asp-for="RecordStatus" class="form-control"></select>
                    <span asp-validation-for="RecordStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@


<form class="form" asp-action="Create" enctype="multipart/form-data" id="AssignmentForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AssignmentName" class="d-block">Assignment Name</label>
                <input asp-for="AssignmentName" class="form-control" />
                <span asp-validation-for="AssignmentName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AssignmentDetail" class="d-block">Assignment Details</label>
                <textarea asp-for="AssignmentDetail" class="form-control">
</textarea>

                <span asp-validation-for="AssignmentDetail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DeadlineDate" class="d-block">Deadline Date</label>
                <input asp-for="DeadlineDate" class="form-control" />


                <span asp-validation-for="AssignmentDetail" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SubjectId" class="d-block">Assignment Details</label>
                    <select asp-for="SubjectId" asp-items="@ViewData["SubjectId"]" class="form-control" ></select>
                    <span asp-validation-for="AssignmentDetail" class="text-danger"></span>
                </div>
            </div>*@
        <input type="hidden" asp-for="SubjectId" value="068381CC-338A-4DB0-96FE-A8205C235A3C" />

        <input type="hidden" asp-for="UploadedById" value="8E0300D3-C348-4F0D-9784-1BDC7E6B540C" />

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}