﻿@model MIS_Entity.Entity.AssignmentMaterial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutFaculty.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AssignmentMaterial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignmentDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignmentDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadlineDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseSubject.ID)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedTimes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedTimes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
