﻿@model MIS_Entity.Entity.AssignmentMaterial

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<form class="form"   enctype="multipart/form-data" id="AssignmentForm">
    <div class="row">
        <input asp-for="FileLocation" class="form-control" hidden />
        <input asp-for="FileFormat" class="form-control" hidden />
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="AssignmentName" class="d-block">Assignment Name</label>
                <input asp-for="AssignmentName" class="form-control" />
                <span asp-validation-for="AssignmentName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="AssignmentDetail" class="d-block">Assignment Details</label>
                <textarea asp-for="AssignmentDetail" class="form-control"> </textarea>
                <span asp-validation-for="AssignmentDetail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DeadlineDate" class="d-block">Deadline Date</label>
                <input asp-for="DeadlineDate" class="form-control" />


                <span asp-validation-for="AssignmentDetail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="BatchId" class="d-block">Batch</label>
                <select asp-for="BatchId" asp-items="@ViewBag.BatchId" class="form-control">
                </select>
                <span asp-validation-for="BatchId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SubjectId" class="d-block">Subject</label>
                <select asp-for="SubjectId" asp-items="@ViewBag.SubjectId" class="form-control">
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group" id="assignmentMaterial">
            <label asp-for="AssignmentFile" class="control-label">Upload Assignment File</label>
            <input asp-for="AssignmentFile" class="form-control" type="file" name="AssignmentFile" />
            <span asp-validation-for="AssignmentFile" class="text-danger"></span>
        </div>
        @*<input type="hidden" asp-for="SubjectId" value="068381CC-338A-4DB0-96FE-A8205C235A3C" />*@

        @*<input type="hidden" asp-for="UploadedById" value="8E0300D3-C348-4F0D-9784-1BDC7E6B540C" />*@

    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}