﻿@model MIS.ViewModel.CourseDetailViewModel

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<style>
    .requiredSub{
        border: solid 1px #d7181899;
        border-radius: 7px;
        padding: 5px; 
    }
</style>
<form class="form" asp-action="Create" enctype="multipart/form-data" id="courseForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseCode" class="d-block">Course Code</label>
                <input asp-for="CourseCode" class="form-control" placeholder="Course Code" />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseName" class="d-block">Course Name</label>
                <input asp-for="CourseName" class="form-control" placeholder="Course Name" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseDescription" class="d-block">Course Description</label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreditHours" class="d-block">Total Credit Hours</label>
                <input asp-for="CreditHours" class="form-control" />
                <span asp-validation-for="CreditHours" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="card card-custom gutter-b">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Included Subjects
                    <span class="d-block text-muted pt-2 font-size-sm">List of all subjects in the course</span>
                </h3>
            </div>
            <div class="card-toolbar ">


                <!--end::Dropdown-->
                <!--begin::Button-->
                <div id="SubjectButton">
                      <a href="#" class="btn btn-primary font-weight-bolder " id="selectSubjects">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo2/dist/assets/media/svg/icons/Design/Flatten.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <circle fill="#000000" cx="9" cy="15" r="6" />
                                <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Add Subjects
                </a> 
                </div>
              
                <!--end::Button-->
            </div>
        </div>
        <div class="card-body">
            <div id="hiddenInputs">
                @*@foreach (var item in Model.SubjectCourses)
                    {
                        @Html.EditorFor(Model.SubjectCourses.)
                    }*@
                @*@Html.EditorFor(model => Model.SubjectCourses[0].SubjectId, new { @hidden = "hidden" })*@
            </div>
            <!--begin: Datatable-->
            <div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded" id="kt_datatable">

                <table class="datatable-table" style="display:block;" id="tableSubjectCourses">
                    <thead class="datatable-head">
                        <tr class="datatable-row" style="left: 0px;">
                            <th data-field="RecordID" class="datatable-cell-center datatable-cell datatable-cell-check">
                                <span style="width: 20px;"><label class="checkbox checkbox-single checkbox-all"><input type="checkbox">&nbsp;<span></span></label></span>
                            </th>
                            <th data-field="SubjectCode" class="datatable-cell datatable-cell-sort"><span style="width: 137px;">Subject Code</span></th>
                            <th data-field="SubjectName" class="datatable-cell datatable-cell-sort"><span style="width: 137px;">Subject Name</span></th>
                            <th data-field="SubjectName" class="datatable-cell datatable-cell-sort"><span style="width: 137px;">Faculty</span></th>
                            <th data-field="TotalCredit" class="datatable-cell datatable-cell-sort"><span style="width: 137px;">Total Credit</span></th>

                            <th data-field="Actions" data-autohide-disabled="false" class="datatable-cell-left datatable-cell datatable-cell-sort"><span style="width: 125px;">Actions</span></th>
                        </tr>
                    </thead>
                    <tbody class="datatable-body" style="">
                    </tbody>
                </table>
            </div>
            <!--end: Datatable-->
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
