﻿@model MIS_Entity.Entity.Course.CourseDetails

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

@*<h1>Edit</h1>

    <h4>CourseDetails</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CourseCode" class="control-label"></label>
                    <input asp-for="CourseCode" class="form-control" />
                    <span asp-validation-for="CourseCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseName" class="control-label"></label>
                    <input asp-for="CourseName" class="form-control" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseDescription" class="control-label"></label>
                    <input asp-for="CourseDescription" class="form-control" />
                    <span asp-validation-for="CourseDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreditHours" class="control-label"></label>
                    <input asp-for="CreditHours" class="form-control" />
                    <span asp-validation-for="CreditHours" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourseTeacher" class="control-label"></label>
                    <input asp-for="CourseTeacher" class="form-control" />
                    <span asp-validation-for="CourseTeacher" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
                <input type="hidden" asp-for="CreatedBy" value="@ViewBag.CreatedBy" />
                <input type="hidden" asp-for="CreatedDate" value="@ViewBag.CreatedDate" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
<form class="form" asp-action="Edit" enctype="multipart/form-data" id="courseForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseCode" class="d-block">Course Code</label>
                <input asp-for="CourseCode" class="form-control" placeholder="Course Code" />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseName" class="d-block">Course Name</label>
                <input asp-for="CourseName" class="form-control" placeholder="Course Name" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseDescription" class="d-block">Course Description</label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CreditHours" class="d-block">Credit Hours</label>
                <input asp-for="CreditHours" class="form-control" />
                <span asp-validation-for="CreditHours" class="text-danger"></span>
            </div>
        </div>
         
        <input type="hidden" asp-for="ID" value="@ViewBag.ID" />
        <input type="hidden" asp-for="CreatedBy" value="@ViewBag.CreatedBy" />
        <input type="hidden" asp-for="CreatedDate" value="@ViewBag.CreatedDate" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
